[submodule "Dependencies/openexr"]
	path = External/openexr
	url = git@github.com:AcademySoftwareFoundation/openexr.git
[submodule "Dependencies/libwebm"]
	path = External/libwebm
	url = https://chromium.googlesource.com/webm/libwebm
[submodule "Dependencies/libvpx"]
	path = External/libvpx
	url = git@github.com:webmproject/libvpx.git
[submodule "Dependencies/libvorbis"]
	path = External/libvorbis
	url = git@github.com:xiph/vorbis.git
[submodule "External/libopus"]
	path = External/libopus
	url = git@github.com:xiph/opus.git
[submodule "External/libflac"]
	path = External/libflac
	url = git@github.com:xiph/flac.git
[submodule "External/libogg"]
	path = External/libogg
	url = git@github.com:xiph/ogg.git
[submodule "External/libpng"]
	path = External/libpng
	url = git@github.com:glennrp/libpng.git
[submodule "External/zlib"]
	path = External/zlib
	url = git@github.com:madler/zlib.git
[submodule "External/libyuv"]
	path = External/libyuv
	url = git@github.com:lemenkov/libyuv.git
