[submodule "Dependencies/openexr"]
	path = Dependencies/openexr
	url = git@github.com:AcademySoftwareFoundation/openexr.git
[submodule "Dependencies/libwebm"]
	path = Dependencies/libwebm
	url = https://chromium.googlesource.com/webm/libwebm
[submodule "Dependencies/libvpx"]
	path = Dependencies/libvpx
	url = git@github.com:webmproject/libvpx.git
